:root {
  --octal-color: white;
  --primary-bg-color: red;
  --secondary-bg-color: lightgray;
  --tertiary-bg-color: whitesmoke;
}

.application {
  padding: 1rem;
  height: 62vh;
}

.logo {
  font-size: 1.2rem;
}

.today-total-task {
  display: flex;
  background-color: honeydew;
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
  margin: 1.5rem auto;
  align-items: center;
  justify-content: space-between;
}